---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
<header>
  <h1>{{ site.title }}</h1>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
  </nav>
  <div class="author-avatar">
    <img src="{{ site.author.avatar | relative_url }}" alt="Author Avatar">
  </div>
</header>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
